body {
	background-color: #34495E;
	margin: 0;
}

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://bm.65818580.xyz/web/MOS_Technology_Logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

.dirlink {
  color: #ECF0F1;
  position: absolute;
  bottom: 0;
}

a:visited, a {
  color: #FB8C00;
}
